<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenPracticeSuite">
  <test name="MavenPracticeTest">
  <classes>
      <class name="com.jbk.testcases.LoginTestCases"/>
    </classes>
  </test> <!-- MavenPracticeTest -->
</suite> <!-- MavenPracticeSuite -->
